node1/data/DATABASE_METADATA.json
node1/data/caches/logBloom-0.cache
node1/data/database/000003.log
node1/data/database/000029.sst
node1/data/database/000030.sst
node1/data/database/000031.log
node1/data/database/000046.log
node1/data/database/CURRENT
node1/data/database/IDENTITY
node1/data/database/LOCK
node1/data/database/LOG
node1/data/database/LOG.old.1591126279482869
node1/data/database/LOG.old.1591126363511744
node1/data/database/MANIFEST-000045
node1/data/database/OPTIONS-000058
node1/data/database/OPTIONS-000060
node2/data/DATABASE_METADATA.json
node2/data/caches/logBloom-0.cache
node2/data/database/000003.log
node2/data/database/CURRENT
node2/data/database/IDENTITY
node2/data/database/LOCK
node2/data/database/LOG
node2/data/database/MANIFEST-000004
node2/data/database/OPTIONS-000026
node2/data/database/OPTIONS-000028
node3/data/DATABASE_METADATA.json
node3/data/caches/logBloom-0.cache
node3/data/database/000003.log
node3/data/database/CURRENT
node3/data/database/IDENTITY
node3/data/database/LOCK
node3/data/database/LOG
node3/data/database/MANIFEST-000004
node3/data/database/OPTIONS-000026
node3/data/database/OPTIONS-000028
node4/data/DATABASE_METADATA.json
node4/data/caches/logBloom-0.cache
node4/data/database/000003.log
node4/data/database/CURRENT
node4/data/database/IDENTITY
node4/data/database/LOCK
node4/data/database/LOG
node4/data/database/MANIFEST-000004
node4/data/database/OPTIONS-000026
node4/data/database/OPTIONS-000028
